@import '../../../styles/settings/settings';
@import '../../../styles/tools/media';

.section {
  position: relative;
  width: 100%;
  padding: 20px 0;
  //overflow: hidden;
  @include media('screen', '<768px') {
    padding: 10px 0;
  }
}

.slider {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 50px;
  @include media('screen', '<1260px') {
    margin: 0 -10px;
  }
  @include media('screen', '<1024px') {
    margin: 0 -5px;
  }
  @include media('screen', '<768px') {
    padding-bottom: 40px;
  }


  .slick-list, .slick-track { touch-action:pan-y; }
}

.slide {

}

