// fonts
$primary_font: 'Gilroy', 'Arial', sans-serif;
//$secondary_font: 'Pari-Match', sans-serif;
//$icomoon-font-path: "../fonts/icomoon/fonts" !default;

// colors
$primary_color: #f8ff13;
$warning_color: #FF7676;
$hover_color: #FAEB00;
$green: #1DE119;